/* RecipeCRUD.css */
.container {
    padding: 20px;
  }
  
  .create-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .create-button:hover {
    background-color: #218838;
  }
  
  .form-container {
    margin-bottom: 20px;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 10px;
  }
  
  .form-container input,
  .form-container textarea,
  .form-container select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .recipe-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .recipe-table th,
  .recipe-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .recipe-table th {
    background-color: #f2f2f2;
  }
  
  .recipe-images img {
    max-width: 100px;
    margin-right: 10px;
  }
  .update-button {
    background-color: #FFA500; /* Orange color */
    color: white;
    margin-right: 5px;
  }
  
  .delete-button {
    background-color: #FF0000; /* Red color */
    color: white;
  }
  